<header class='app-header {{if fixedHeader 'fixed-header'}}'>
  <nav>
    <div class='app-title'>
      {{#link-to 'index'}}Title{{/link-to}}
    </div>
    <form class='search' {{action 'search' on='submit'}}>
      <div class="input-group">
        {{input value=searchString placeholder='Search' classNames='form-control'}}
        <span class="input-group-btn">
          <button class="btn btn-default" type="button" {{action 'search'}}><i class="fa fa-search"></i></button>
        </span>
      </div>
    </form>
  </nav>
</header>
<main class={{if fixedHeader 'fixed-header'}}>
  {{outlet}}
</main>
